applications:
# CERT-MANAGER
  cert-manager:
    namespace: argocd
    additionalAnnotations:
      notifications.argoproj.io/subscribe.grafana: cert-manager
    destination:
      namespace: cert-manager
      server: https://kubernetes.default.svc
    project: traefik
    sources:
      - repoURL: https://charts.jetstack.io
        chart: cert-manager
        targetRevision: v1.19.3
        helm:
          valueFiles:
          - $values/cert-manager/cert-manager/values.yaml
      - repoURL: git@github.com:thibaultserti/kubernetes.git
        targetRevision: HEAD
        ref: values
    syncPolicy:
      managedNamespaceMetadata:
        labels:
          goldilocks.fairwinds.com/enabled: "true"
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
        - RespectIgnoreDifferences=true
        - ApplyOutOfSyncOnly=true

  cluster-issuer:
    namespace: argocd
    additionalAnnotations:
      notifications.argoproj.io/subscribe.grafana: cert-manager
    destination:
      namespace: cert-manager
      server: https://kubernetes.default.svc
    project: traefik
    sources:
      - repoURL: git@github.com:thibaultserti/kubernetes.git
        path: cert-manager/cluster-issuer
        helm:
          valueFiles:
          - values.yaml
    syncPolicy:
      managedNamespaceMetadata:
        labels:
          goldilocks.fairwinds.com/enabled: "true"
      automated:
        selfHeal: true
        prune: true
      syncOptions:
        - CreateNamespace=true
        - RespectIgnoreDifferences=true
        - ApplyOutOfSyncOnly=true
